/*INCLUDES*/
/*@font-face {
  font-family: '3952';
  src: url('../fonts/3952.eot');
  src: url('../fonts/3952.eot?#iefix') format('embedded-opentype'),
       url('../fonts/3952.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster.woff') format('woff'),
       url('../fonts/Lobster.ttf') format('truetype'),
       url('../fonts/Lobster.svg#Lobster') format('svg');
  font-weight: normal;
  font-style: normal;
}*/


/*STYLES*/


h1 a { color: #000000;}

#adv{

	background: url('../img/f-bg.jpg');
	
	/*background: url('../img/water.jpg') no-repeat;
	margin-left:10%;*/

	/*background: url('../img/forest.jpg');*/
	/*background: url('../img/stick.jpg');*/
	/*background: url('../img/square.jpg');*/
	
	/*background: url('../img/sub-bg.jpg');*/
	

	height: 193px;
	
	

}

.fx{ 

	position: fixed;
	left:0px;
}

.content-block{

	text-align: justify;
	width:95%;

}

/*.menu-pad{

	padding-right: -100px !important;
}*/