/*INCLUDES*/
/*@font-face {
  font-family: '3952';
  src: url('../fonts/3952.eot');
  src: url('../fonts/3952.eot?#iefix') format('embedded-opentype'),
       url('../fonts/3952.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster.woff') format('woff'),
       url('../fonts/Lobster.ttf') format('truetype'),
       url('../fonts/Lobster.svg#Lobster') format('svg');
  font-weight: normal;
  font-style: normal;
}*/


/*STYLES*/


h1 a { color: #000000;}

#adv{

	/*background: url('../img/f-bg.jpg');*/
	


	/*background: url('../img/square.jpg');*/  /*Тетрадь*/
	
	/*background: url('../img/sub-bg.jpg');*/ /*Черновик*/
	/*background: url('../img/num.gif');*/

	background: url('../img/map.jpg');
	height: 193px;
	margin: 0 auto;
	align-content: center;

	/*background: url('../img/water.jpg') no-repeat;
	margin-left:10%;*/ /*Картинка*/
	

}

.fx{ 

	position: fixed;
	left:0px;
}

.content-block{

	text-align: justify;
	width:95%;

}

.i-count{

	position: relative;
	background-color: #000;
	color: #fff;
	opacity: 0.5;
	height: 80px;
	border-radius: 15px;
}

